* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #070b12;
    color: white;
    font-family: Arial, sans-serif;
}


/* HEADER */

header {
    text-align: center;
    padding: 25px;
    background: #101722;
    border-bottom: 1px solid #263241;
}


h1 {
    color: #65ff65;
    margin-bottom: 20px;
}


input {
    background: #151d29;
    border: 1px solid #344255;
    color: white;
    padding: 12px 15px;
    border-radius: 10px;
    font-size: 16px;
}


/* MAIN */

.main {
    display: flex;
    gap: 25px;
    padding: 25px;
}


/* GRAPH */

#graph {

    width: 70%;
    min-height: 600px;

    background:
    radial-gradient(circle,#182333,#070b12);

    border-radius: 20px;

    border:1px solid #263241;

    position:relative;
}


/* PANEL */

#panel {

    width:30%;

    background:#101722;

    padding:20px;

    border-radius:20px;

    border:1px solid #263241;

}


#heroInfo {

    line-height:1.6;

}


/* HERO CIRCLE */

.hero {

    width:90px;
    height:90px;

    border-radius:50%;

    overflow:hidden;

    border:3px solid #344255;

    cursor:pointer;

    transition:.3s;

}


.hero img {

    width:100%;
    height:100%;

    object-fit:cover;

}


.hero:hover {

    transform:scale(1.15);

    border-color:#65ff65;

    box-shadow:0 0 20px #65ff65;

}



/* DRAFT */

.draft {

    margin:25px;

    background:#101722;

    padding:20px;

    border-radius:20px;

}


button {

    padding:12px 20px;

    background:#65ff65;

    border:none;

    border-radius:10px;

    cursor:pointer;

    font-weight:bold;

}


button:hover {

    opacity:.8;

}


/* MOBILE */

@media(max-width:800px){

.main {

    flex-direction:column;

}


#graph,
#panel {

    width:100%;

}


#graph {

    min-height:400px;

}

}
